<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="zwernemann_withdrawal" translate="label" sortOrder="900"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Withdrawal Settings</label>
            <tab>sales</tab>
            <resource>Zwernemann_Withdrawal::config</resource>
            <group id="general" translate="label" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the withdrawal button functionality.</comment>
                </field>
                <field id="email" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Email</label>
                    <validate>validate-email</validate>
                    <comment>Email address to receive withdrawal notifications. If empty, the general store email will be used.</comment>
                </field>
                <field id="withdrawal_period" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Withdrawal Period (Days)</label>
                    <validate>validate-digits</validate>
                    <comment>Number of days after order placement during which withdrawal is allowed. Default: 14 days.</comment>
                </field>
                <field id="excluded_product_attributes" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Excluded Product Attributes</label>
                    <comment>Comma-separated list of product attribute codes. Products with these attributes set to 'Yes' or '1' will be excluded from withdrawal (e.g., is_personalized,is_perishable,custom_made)</comment>
                </field>
                <field id="allowed_order_statuses" translate="label comment" type="multiselect"
                       sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Order Statuses</label>
                    <comment>Withdrawal is only possible for orders with one of these statuses.</comment>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <can_be_empty>0</can_be_empty>
                </field>
            </group>
            <group id="email" translate="label" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Settings</label>
                <field id="sender" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="customer_template" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Confirmation Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email template sent to the customer after withdrawal request.</comment>
                </field>
                <field id="admin_template" translate="label comment" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <comment>Email template sent to the shop owner after withdrawal request.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
